script(src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.4/codemirror.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.4/mode/javascript/javascript.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.4/addon/lint/javascript-lint.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.4/addon/hint/javascript-hint.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.4/mode/pug/pug.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.4/mode/yaml/yaml.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.4/keymap/sublime.min.js")
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.4/codemirror.min.css")
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.4/theme/monokai.min.css")