title Webfocus - #{configuration['name']}

meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")

style.
    .favicon-loading{
        stroke-dasharray: 1000;
        stroke-dashoffset: -1000;
        animation: dash;
        animation-timing-function: ease-in-out;
        animation-duration: 5s;
        animation-delay: 2s;
        
        animation-iteration-count: infinite;
    }

    @keyframes dash{0%{stroke-dashoffset: -1000;}50%{stroke-dashoffset: 0;} 100%{stroke-dashoffset: 1000;}}

script
    | const apibaseurl = "!{apibaseurl}"
    | const componentbaseurl = "!{componentbaseurl}"
script(src="/util/fetch.js")
script(src="/util/events.js")