extends ./main.pug 

block head
  style.
    p{
      margin: 0 2em 0;
    }

block main
  if configuration.components.length > 0
    mixin component(urlname)
      - let c = getComponent(urlname);
      div
        h3: a(href=c.urlname)= c.name
        p= c.description
    - for(let urlname of configuration.components)
      +component(urlname)
  else 
    p No components added to this application.