
doctype html
html.h-100
  head 
    include head.pug
    include bootstrap.pug

    block head
  
  body.d-flex.flex-column.h-100
    nav.navbar.navbar-expand-md.navbar-light
      div.container
        a.navbar-brand(href="/").d-flex
          img(src="/favicon.svg",width="60").mx-3
          div.d-flex.flex-column
            h1 Webfocus
            h6= configuration.name
        button.navbar-toggler(type="button",data-bs-toggle="collapse",data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation")
          span.navbar-toggler-icon
        div#navbar.collapse.navbar-collapse
          ul.navbar-nav.me-auto.mb-2
            mixin nava(path) 
              - let klass = req.path.indexOf(`/${path}`) === 0 ? 'nav-link active' : 'nav-link'
              li.nav-item: a(href=`/${path}/`, class=klass)= path
            - for(let path of configuration.components)
              +nava(path)
    main.container.my-2
      block main
    footer.mt-auto
      div.container Diogo Almiro 2021
