:root{
    --black-300: hsl(0, 0%, 50%);
    --black-200: hsl(0, 0%, 30%);
    --black-100: hsl(0, 0%, 10%);

    --primary-300: hsl(245, 57%, 40%);
    --primary-200: hsl(245, 57%, 21%);
    --primary-100: hsl(245, 57%, 10%);

    --secondary-300: hsl(30, 90%, 60%);
    --secondary-200: hsl(30, 90%, 40%);
    --secondary-100: hsl(30, 90%, 20%);

    --red-300: hsl(0, 60%, 70%);
    --red-200: hsl(0, 60%, 50%);
    --red-100: hsl(0, 60%, 30%);

    --green-300: hsl(120, 60%, 70%);
    --green-200: hsl(120, 60%, 50%);
    --green-100: hsl(120, 60%, 30%);

    --yellow-300: hsl(60, 80%, 70%);
    --yellow-200: hsl(60, 80%, 50%);
    --yellow-100: hsl(60, 80%, 30%);
}